*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
.header{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding:16px;
    border-bottom: 1px solid rgb(1, 88, 170);

}
.main_pages{
    margin-top: 5px;
}
.nav-bar .main_pages a{
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}
.main-section{
    margin-top: 100px;
    width: 100vw;
    height: 80vh;
}
.titre-main{
    display: flex;
    justify-content: center;
    width: 100%;
}
.titre-main h2{
    padding-bottom: 5px;
    border-bottom: 2px solid rgb(1, 88, 170);
    text-align: center;
    font-size: 2em;
    z-index: -1;
}
.main{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.container{
    width: 100%;
    height: 45%;
    margin-top: 30px;
    background-color:aliceblue ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.skill-bar{
    height: 1.5vh;
    background-color: rgb(218, 218, 218);
    margin: 20px 10px 10px 10px;
    border-radius: 10px;
}
.content-bar{
    background-color: rgb(1, 88, 170);
    height: 100%;
    font-size: 1em;
    color: rgb(0, 0, 0);
    padding-left: 5px;
}
.html{
    width: 70%;
}
.css{
    width: 50%;
}
.js{
    width: 15%;
}
.php{
    width: 5%;
}
.mysql{
    width: 2%;
}
.php-objet{
    width: 1%;
}
.progress{
    text-align: start;
}
.content{
    width: 60%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    padding: 15px 0px 15px 0px;
    border-radius: 20px;
     border: 1px solid grey;
}
.para1{
    width: 350px;
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 5px;
}
.para1 em{
    color: rgb(1, 88, 170);
}
.para2{
    width: 350px;
    text-align: start;
}
.portrait{
    width: 300px;
    margin-right: 50px;
    border-radius: 0px 0px 30px 30px;
    background-size: 100%;
    background-position: 100%;
    background-repeat: no-repeat;
    background-image: url(photo.jpg);
}
.section{
    width: 100vw;
    height: 100vh;
    margin-top: 100px;
}
.main-content{
    width: 80%;
    height: 100%;
    display: flex;
    padding: 60px 0px;
    margin-bottom: 200px;
    margin: auto;
    justify-content: space-evenly;
}
.objectif{
    width: 21vw;
    height: 80%;
    margin: 10px;
    border: 1px solid black;
    background-color: #ffffff;
    color: rgb(0, 30, 58);
    overflow: hidden;
    border-radius: 20px;
}
.reves{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.objectif h2{
    width: 100%;

    font-size: 1.4em;
    border-bottom: 1px solid rgb(1, 88, 170);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
}
.objectif li{
    padding: 15px;
    font-size: 1.4em;
}
.objectif i{
    padding-left: 5px;
}
.img-passion{
    width: 100%;
    height: 50%;
    border-radius: 20px 20px 0px 0px;
    background-image: url(mma.jpg);
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.game-passion{
    background-image: url(jeux.jpg);
}
.passion-text{
    padding: 8px;
}
.title-mma{
    font-size: .8em;
    text-align: center;
    font-weight: 600;
}
.objectif:hover{
    box-shadow: 0px 0px 10px 0px #1250FF;
}







.footer{
    width: 100vw;
    height: 60px;
    background-color: rgb(1, 88, 170);
    margin-top: 10px;
    position: fixed;
    bottom: 0;
    color: white;
    text-transform: uppercase;
}
.footer-element{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-element h3{
    padding-right: 10px;
}
.footer-element button{
    width: 80px;
    height: 30px;
    border-radius: 20px;
    border: none;
    margin: 20px;
    color: rgb(1, 88, 170);
    font-weight: bold;
}
.footer-element a{
    text-decoration: none;
}






@media (max-width: 768px) {
    .header{
        display: flex;
    }
    .header h1{
        font-size: 1.5em;
    }
    .content-header p{
        font-size: .5em;
    }
    .nav-bar ul{
        flex-direction: column;
        text-align: center;
        padding: 5px;
        
    }
    .nav-bar ul li{
        padding: 5px;
        border-radius: 10px;
        border: 1px solid rgb(1, 88, 170);
    }
    .titre-main h2{
        font-size: 1.4em;
    }

    .content{
        display: block;
        width: 90%;
    }
    .container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
    }
    .skills{
        width: 90%;
    }
    .skills h3{
        font-size: 1em;
        margin-bottom: 20px;
    }
    .skill-bar{
        margin: 10px;
    }
    .para1{
        font-size: 1.5em;
        width: 100%;
        text-align: center;
    }
    .para2{
        font-size: 1.1em;
        width: 100%;
        text-align: center;
    }
    .portrait{
        margin: auto;
        margin-bottom: 20px;
        width: 150px;
        height: 150px;
    }
    .main-content{
        height: 137vh;
        flex-direction: column;
        align-items: center;
    }
    
    .objectif h2{
        font-size: 1.8em;
        margin-bottom: 1px;
    }
    .objectif li{
        padding: 15px;
        font-size: 1.3em;
    }
    .top .passion-text{
        font-size: 1.26em;
    }
    .objectif{
        width: 80%;
        height: 100%;
        text-align: center;
    }
    .footer-element h3{
        font-size: .8em;
        padding-left: 5px;
    }
}

@media (max-width: 576px) {
    .objectif h2{
        font-size: 1.3em;
    }
    .objectif li{
        font-size: 1.4em;
        padding: 8px;
    }
    .content{
        margin-bottom: 100px;
    }
    .top .passion-text{
        font-size: .85em;
    }
    .objectif{
        width: 100%;
        height: 100%;
    }
    .content-bar{
        font-size: .8em;
        font-weight: bold;
    }
}
@media (max-width: 1200px) {
    .top p{
        font-size: .8em;
    }
    .top h2{
        font-size: 1.2em;
        margin-bottom: 0;
        padding-bottom: 5px;
    }
    .content-header p{
        padding-top: 5px;
        font-size: .8em;
    }
    
}
@media (min-width: 1200px) {
    .content-header p{
        padding-top: 5px;
    }
}
@media (min-width: 1024px) {

    .objectif{
        width: 25vw;
        height: 50%;
        text-align: center;
    }
    .text-skill li{
        padding: 10px;
    }
}
@media (max-height: 728px) {
    .text-skill li{
        padding: 4px;
    }
    
}
@media (max-height: 576px) {
    .objectif li{
        font-size: 1.2em;
    }
    .skill-bar{
        margin: 15px;
        font-size: .8em;
    }
    
}

nav .main_pages a{
    text-decoration: none;

}

label, #toggle
{
    display: none;
}
 
@media all and (max-width: 991px)
{
    nav
    {
        height: 60px;
    }
 
    nav .main_pages 
    {
        display: none;
        flex-direction: column;
        background: rgb(1, 88, 170);
    }
 
    nav .main_pages a {
        width: 100%;
        text-decoration: none;
        border: 1px solid rgb(255, 255, 255);
    }
 
    label 
    {
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        font-size: 40px;
        color: inherit;
        cursor: pointer;
    }
 
    #toggle:checked + .main_pages {
        display: flex;
    }
}

.dark-mode{
    background-color: rgb(0, 30, 58);
    color: white;
}
body{
    transition: 500ms ease-in-out;
}